.container {
  position: fixed;
  bottom: 5px;
  right: 5px;
  background-color: #f97316;
  border-radius: 50%;
  width: 8vh;
  height: 8vh;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.7s;
  border: solid 2px transparent;
}
.chatbot {
  background-color: transparent;
  border: none;
}
.container:hover {
  background-color: #f59e0b;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); /* Add a subtle box-shadow */
}
